/* BASE - Base styles, variables, mixins */
body {
  font-family: 'Montserrat', sans-serif;
  color: #000; }

.bold, .bold h3, .bold h4 {
  font-weight: 900;
  display: -webkit-inline-box; }

/* MODULES - Individual styles */
.sidebar.col-md-2 {
  padding: 0; }

.sidebar .search-cell {
  height: 40px;
  position: relative; }
  .sidebar .search-cell input {
    width: 100%;
    height: 40px;
    position: absolute;
    padding-left: 5px;
    border: 0; }
  .sidebar .search-cell .fa-search {
    background: #A3A9B7;
    padding: 13px;
    position: absolute;
    right: 0;
    border-right: 1px solid #4b4c4e;
    transition: all 1s ease; }
  .sidebar .search-cell .fa-search:hover {
    background: #222;
    color: #fff;
    transition: all 1s ease;
    cursor: pointer; }

.sidebar-heading {
  background: #4b4c4e;
  color: #fff;
  text-transform: uppercase;
  transition: all 1s ease;
  position: relative; }
  .sidebar-heading h3 {
    padding: 15px 5px;
    margin: 0;
    position: relative; }

.sidebar-heading:after {
  content: '';
  position: absolute;
  left: 50%;
  right: 0px;
  top: 50px;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 11px 0 0;
  border-color: #4b4c4e transparent transparent transparent;
  transform: rotate(225deg); }

.sidebar-heading:hover {
  background: #222;
  transition: all 1s ease; }

.sidebar-heading:hover {
  cursor: pointer; }

.sidebar .table {
  margin: 0;
  display: -webkit-inline-box;
  background: #EDEDED;
  border-bottom: 1px solid #A9B0B1; }
  .sidebar .table .left-inset .star {
    width: 17px;
    transition: all 1s ease;
    -webkit-filter: grayscale(100%) brightness(120%);
    cursor: pointer; }
  .sidebar .table .left-inset .star.active {
    -webkit-filter: initial;
    transition: all 0.5s ease;
    transform: rotate(360deg); }
  .sidebar .table p {
    margin: 0; }
  .sidebar .table .left-inset {
    position: relative;
    width: 30px;
    padding: 10px 5px;
    background: #5B6668; }
    .sidebar .table .left-inset p {
      color: #72AD5D; }

.sidebar .table-team {
  padding: 11px 10px; }

.sidebar .table-result {
  text-align: right;
  padding: 10px;
  position: absolute;
  right: 25px; }

.sidebar .table-result .one {
  margin-right: 2px; }

.right.sidebar {
  padding: 4px;
  background: #e7e7e7; }
  .right.sidebar .betslip .heading {
    display: -webkit-box;
    position: relative;
    background: #FE9C1F;
    color: #fff;
    width: 100%;
    border-bottom: 1px solid #A9B0B1; }
    .right.sidebar .betslip .heading h3 {
      margin: 0;
      padding: 4px;
      text-transform: uppercase; }
  .right.sidebar .betslip img {
    position: absolute;
    z-index: 1;
    top: 6px;
    right: 10px;
    -webkit-filter: contrast(0%) brightness(200%);
    transform: rotate(180deg);
    width: 35px; }
  .right.sidebar .betslip-count {
    position: absolute;
    left: 120px;
    top: 13px;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 25px; }
    .right.sidebar .betslip-count p {
      position: absolute;
      top: 2.5px;
      left: 8.5px; }
  .right.sidebar .table {
    display: table;
    width: 100%;
    border-bottom: 1px solid #A9B0B1; }
  .right.sidebar .table-row {
    display: table-row;
    background: #F5FAFE; }
  .right.sidebar .table-cell {
    display: table-cell;
    padding: 8px 0;
    vertical-align: middle;
    color: #333; }
  .right.sidebar .table-body {
    display: table-row-group; }
  .right.sidebar .table-cell.main {
    width: 50%;
    font-size: 13px; }
  .right.sidebar .table-cell.padding {
    padding: 13px 10px;
    position: relative; }
  .right.sidebar .table-cell.main.padding {
    width: 45%;
    padding: 13px 0 13px 10px; }
  .right.sidebar .table .bet-headers {
    background: #CDE9FE; }
  .right.sidebar .table-cell.checkbox {
    padding: 4px; }
  .right.sidebar .table-cell.checkbox input {
    width: 20px;
    height: 20px;
    margin-top: 9px;
    margin-left: 0;
    position: initial; }
  .right.sidebar .table-cell.read-only input {
    width: 80px;
    height: 30px;
    padding-right: 5px;
    text-align: right;
    border-bottom: 2px solid #D2DDE3;
    border-left: 1px solid #D2DDE3;
    border-top: 1px solid #D2DDE3;
    border-right: 1px solid #D2DDE3;
    cursor: default; }
  .right.sidebar .system-bet-total .table-cell {
    position: relative; }
  .right.sidebar .system-bet-total .table-cell.read-only span {
    position: absolute;
    right: -5px;
    top: 18px; }
  .right.sidebar .delete .table-cell.main {
    width: 90%; }
  .right.sidebar .delete .table-cell.alert-close {
    top: 7px;
    right: -11px;
    margin: 0; }
  .right.sidebar .table-cell.bullet {
    width: 7%; }
  .right.sidebar .table-cell.bullet p {
    font-size: 22px;
    color: #FE9C1F;
    text-shadow: 0px 0px 7px #000; }
  .right.sidebar .table-cell.alert-close {
    text-align: center;
    padding: 0;
    position: relative;
    height: 20px;
    width: 20px;
    font-size: 13px;
    top: 13px;
    right: 2px;
    display: block;
    color: #666; }
  .right.sidebar .table-cell.padding.text-right img {
    position: absolute;
    z-index: 2;
    top: 6px;
    right: 10px;
    transform: rotate(270deg);
    width: 35px; }
  .right.sidebar .table-cell.padding.text-right img:hover {
    cursor: pointer; }

.heading {
  display: -webkit-box;
  position: relative;
  background: #CDE9FE;
  color: #333;
  width: 100%;
  border-bottom: 1px solid #A9B0B1;
  padding: 4px 0; }
  .heading h4 {
    margin: 0;
    padding: 10px;
    font-size: 15px; }

.fa-info {
  color: #fff;
  background: #4b4c4e;
  border-radius: 20px;
  padding: 4px 8px;
  margin-left: 6px; }

.fixture {
  position: relative; }
  .fixture .heading {
    display: -webkit-box;
    position: relative;
    background: #E9F3FC;
    color: #333;
    width: 100%;
    border-bottom: 1px solid #A9B0B1; }
    .fixture .heading h4 {
      margin: 0;
      padding: 10px;
      font-size: 15px;
      padding-left: 40px; }
  .fixture .fa-futbol-o {
    position: absolute;
    top: 11px;
    font-size: 21px;
    left: 8px;
    transform: rotate(0deg);
    transition: all 1s ease; }
  .fixture i.fa.fa-futbol-o:hover {
    transform: rotate(540deg);
    transition: all 1s ease; }
  .fixture .live {
    position: absolute;
    top: 11px;
    left: 204px;
    background: #FE9C1F;
    color: #fff;
    padding: 2px 6px; }
    .fixture .live p {
      margin: 0; }

input:hover {
  cursor: pointer; }

.warning {
  position: relative; }
  .warning .heading {
    color: #e74c3c;
    background: #F5FAFE;
    padding: 6px 0; }
  .warning h4 {
    padding-left: 40px;
    font-size: 13px; }
  .warning .fa-flag-o {
    position: absolute;
    top: 19px;
    font-size: 21px;
    left: 10px; }

.combine,
.total-bet {
  position: relative; }
  .combine .heading,
  .total-bet .heading {
    background: #F5FAFE; }

.confirmation {
  background: #CDE9FE;
  padding: 12px 0;
  border-bottom: 1px solid #A9B0B1; }
  .confirmation button {
    background: #FE9C1F;
    border: none;
    color: #FFF;
    width: 94%;
    margin: 0 auto;
    display: block;
    font-size: 26px;
    padding: 10px;
    transition: all 0.5s ease; }
  .confirmation button:hover {
    background: #27ae60;
    transition: all 0.5s ease; }
  .confirmation .potential-winning {
    color: #333; }
    .confirmation .potential-winning h3 {
      margin: 20px 0px 5px; }
    .confirmation .potential-winning p {
      margin: 0; }

.auto-accept {
  position: relative; }
  .auto-accept .heading {
    background: #F5FAFE; }

.open-bets {
  position: relative;
  margin-top: 30px; }
  .open-bets .heading {
    background: #fff; }
  .open-bets h4 {
    width: 90%; }
  .open-bets .betslip-count-orange {
    background: #FE9C1F;
    color: #fff;
    position: absolute;
    right: 10px;
    top: 9px;
    width: 25px;
    height: 25px;
    border-radius: 25px; }
    .open-bets .betslip-count-orange p {
      position: absolute;
      top: 2px;
      left: 8px; }

.alert-close,
.alert-close-all {
  background: #fff;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4), inset 0 -1px 2px rgba(255, 255, 255, 0.25);
  color: #333;
  cursor: pointer;
  font-size: 18px;
  height: 22px;
  right: 11px;
  text-align: center;
  top: 13px;
  transition: all 0.5s ease;
  width: 22px; }

.right.sidebar .table-cell.alert-close:hover {
  background: #e74c3c;
  color: #fff;
  box-shadow: none;
  transition: all 0.5s ease; }

.middle-content.col-md-7 {
  padding: 0; }

.middle-content .arrow-up img {
  position: absolute;
  width: 24px;
  top: 5px;
  left: 8px;
  -webkit-filter: contrast(0%) brightness(200%);
  transform: rotate(270deg); }

.middle-content .arrow-down img {
  position: absolute;
  width: 24px;
  top: 5px;
  left: 8px;
  -webkit-filter: contrast(0%) brightness(200%); }

.live-game {
  background: #A3A9B7;
  padding: 20px 60px; }

.live-game-container .first.row,
.middle-content .live-game-container .second.row,
.middle-content .live-game-container .third.row {
  display: -webkit-box;
  margin: 0; }

.live-game-container {
  background: #4b4c4e;
  color: #fff; }
  .live-game-container .first.row {
    text-transform: uppercase; }
  .live-game-container .row {
    border-bottom: 1px solid #A9B0B1;
    margin: 0; }

.live-game-container .first.row h4 {
  background: #FE9C1F;
  font-size: 15px;
  padding: 12px 19px;
  margin: 0 26px 0 0;
  font-style: italic;
  font-weight: 900; }
.live-game-container .first.row h4:after {
  content: '';
  position: absolute;
  left: 131px;
  right: 0px;
  top: 20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 20px 0 0;
  border-color: #FE9C1F transparent transparent transparent; }
.live-game-container .first.row .live-block {
  margin-top: 4px; }
.live-game-container .first.row .live-block p {
  margin: 0;
  font-size: 13px; }
.live-game-container .first.row .live-block .indented {
  text-indent: -13px;
  font-size: 11px; }

.live-game-container .second.row h4,
.live-game-container .third.row h4 {
  margin-left: 15px;
  font-weight: 900; }

.live-game-container .second.row .live-score,
.live-game-container .third.row .live-score {
  display: -webkit-inline-box;
  margin-top: 6px;
  position: absolute;
  right: 70px;
  font-size: 20px;
  font-weight: 900; }
.live-game-container .second.row p,
.live-game-container .third.row p {
  margin: 0 25px; }
.live-game-container .second.row .color-change,
.live-game-container .third.row .color-change {
  color: #D27025; }

.middle-content .table-content {
  display: -webkit-inline-box;
  background: rgba(95, 95, 95, 0.91);
  width: 100%;
  color: #fff;
  height: 33px;
  margin-top: 16px;
  text-transform: uppercase;
  position: relative;
  transition: all 0.5s ease; }
  .middle-content .table-content .onebytwo {
    margin-top: 0; }
  .middle-content .table-content p {
    margin: 0;
    padding: 6px 0 0 35px; }

.middle-content .table-content:hover {
  cursor: pointer;
  background: #222;
  transition: all 0.5s ease; }

.middle-content .onebytwo {
  margin-top: 0; }

.middle-content .outer-background {
  background-image: url("../images/stadium-background.jpg");
  background-size: cover;
  height: 1022px; }

.middle-content .inner-background {
  background: rgba(169, 176, 177, 0.75);
  padding: 6px 0;
  text-align: center; }

.middle-content .onebytwo .table-cell {
  margin-bottom: 0; }

.middle-content .table-cell {
  transition: all 0.5s ease; }

.middle-content .table-cell:hover {
  cursor: pointer;
  background: #fff;
  transition: all 0.5s ease; }

.table-cell.empty:hover {
  cursor: default; }

.middle-content .table-cell {
  display: inline-table;
  background: rgba(255, 253, 253, 0.8);
  width: 32%;
  text-align: left;
  position: relative;
  margin-bottom: 4px; }
  .middle-content .table-cell p {
    margin: 0;
    padding: 5px 9px;
    font-weight: 900; }
  .middle-content .table-cell span {
    position: absolute;
    right: 8px;
    top: 5px; }

.middle-content .table-cell.empty {
  background: rgba(230, 227, 227, 0.5); }

.middle-content .two-cells.inner-background {
  padding-bottom: 3px; }

.middle-content .two-cells.inner-background .table-cell {
  width: 49%; }

.middle-content button {
  width: 180px;
  height: 40px;
  font-size: 20px;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 80px;
  text-transform: uppercase;
  color: #e74c3c;
  background: rgba(255, 253, 253, 0.8);
  border: 3px solid #e74c3c;
  transition: all 1s ease; }

.middle-content button:hover {
  border: 3px solid #27ae60;
  color: #27ae60;
  transition: all 1s ease; }

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden; }

input.cmn-toggle-round + label {
  position: absolute;
  right: 6px;
  top: 12px;
  padding: 2px;
  width: 50px;
  height: 25px;
  background-color: #dddddd;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px; }

.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s; }

input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: ""; }

input.cmn-toggle-round + label:after {
  width: 25px;
  background-color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s; }

input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 0;
  left: 1px;
  bottom: 1px;
  content: ""; }

input.cmn-toggle-round:checked + label:before {
  background-color: #2286C1; }

input.cmn-toggle-round:checked + label:after {
  margin-left: 25px; }

@media (min-width: 991px) and (max-width: 1200px) {
  .sidebar .table p {
    font-size: 10px; }

  .sidebar-heading h3 {
    font-size: 13px; }

  .sidebar-heading:after {
    top: 38px; }

  .right.sidebar .table-cell.main {
    font-size: 10px;
    width: 40%; }

  .fixture .heading h4, .warning h4, .place-bet button, .heading h4 {
    font-size: 12px; }

  .potential-winning h3, .right.sidebar .table {
    font-size: 11px; }

  .potential-winning p {
    font-size: 9px; }

  .right.sidebar .table-cell.read-only input {
    width: 40px; } }
@media (min-width: 1200px) and (max-width: 1400px) {
  .right.sidebar .table-cell.read-only input {
    width: 55px; } }

/*# sourceMappingURL=main.css.map */
