@mixin textbox{
	border-bottom: 2px solid #D2DDE3;
    border-left: 1px solid #D2DDE3;
    border-top: 1px solid #D2DDE3;
    border-right: 1px solid #D2DDE3;
}

@mixin center{
	margin: 0 auto;
  	display: block;
}