$igc-orange: #FE9C1F;
$igc-grey: #4b4c4e;
$igc-light-blue: #F5FAFE;
$igc-blue: #CDE9FE;
$igc-match-heading: #E9F3FC;
$igc-header-hover: #222;

$igc-border: 1px solid #A9B0B1;

$igc-tran-05: all 0.5s ease;
$igc-tran-1: all 1s ease;


$large: "(min-width:1200px) and (max-width:1400px)";
$medium: "(min-width:991px) and (max-width:1200px)";
