.sidebar.col-md-2 {
  padding: 0;
}

.sidebar .search-cell {
  height: 40px;
  position: relative;
  input {
    width: 100%;
    height: 40px;
    position: absolute;
    padding-left: 5px;
    border: 0;
  }
  .fa-search {
    background: #A3A9B7;
    padding: 13px;
    position: absolute;
    right: 0;
    border-right: 1px solid $igc-grey;
    transition: $igc-tran-1;
  }
  .fa-search:hover {
    background: $igc-header-hover;
    color: #fff;
    transition: $igc-tran-1;
    cursor: pointer;
  }
}

.sidebar-heading {
  background: #4b4c4e;
  color: #fff;
  text-transform: uppercase;
  transition: $igc-tran-1;
  position: relative;
  h3 {
    padding: 15px 5px;
    margin: 0;
    position: relative;
  }
}

.sidebar-heading:after {
  content: '';
  position: absolute;
  left: 50%;
  right: 0px;
  top: 50px;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 11px 0 0;
  border-color: #4b4c4e transparent transparent transparent;
  transform: rotate(225deg);
}

.sidebar-heading:hover {
  background: $igc-header-hover;
  transition: $igc-tran-1;
}

.sidebar-heading:hover {
  cursor: pointer;
}

.sidebar .table {
  margin: 0;
  display: -webkit-inline-box;
  background: #EDEDED;
  border-bottom: $igc-border;
  .left-inset .star {
    width: 17px;
    transition: $igc-tran-1;
    -webkit-filter: grayscale(100%) brightness(120%); 
    cursor: pointer;
  }
  .left-inset .star.active {
    -webkit-filter: initial; 
    transition: $igc-tran-05; 
    transform: rotate(360deg);
  }
  p {
    margin: 0;
  }
  .left-inset {
    position: relative;
    width: 30px;
    padding: 10px 5px;
    background: #5B6668;
    p {
      color: #72AD5D;
    }
  }
}

.sidebar .table-team {
  padding: 11px 10px;
}

.sidebar .table-result {
  text-align: right;
  padding: 10px;
  position: absolute;
  right: 25px;
}

.sidebar .table-result .one {
  margin-right: 2px;
}
