@media #{$medium} {
  .sidebar .table p{
    font-size: 10px;
  }

  .sidebar-heading h3{
    font-size: 13px;
  }

  .sidebar-heading:after{
    top: 38px;
  }


  .right.sidebar .table-cell.main{
    font-size: 10px;
    width: 40%;
  }

  .fixture .heading h4, .warning h4, .place-bet button, .heading h4{
    font-size: 12px;
  }

  .potential-winning h3, .right.sidebar .table{
    font-size: 11px;
  }

  .potential-winning p{
    font-size: 9px;
  }
   .right.sidebar .table-cell.read-only input{
    width: 40px;
  }
}

@media #{$large} {
  .right.sidebar .table-cell.read-only input{
    width: 55px;
  }
}
