.middle-content.col-md-7 {
  padding: 0;
}

.middle-content .arrow-up img {
  position: absolute;
  width: 24px;
  top: 5px;
  left: 8px;
  -webkit-filter: contrast(0%) brightness(200%);
  transform: rotate(270deg);
}

.middle-content .arrow-down img {
  position: absolute;
  width: 24px;
  top: 5px;
  left: 8px;
  -webkit-filter: contrast(0%) brightness(200%);
}

.live-game {
  background: #A3A9B7;
  padding: 20px 60px;
}

.live-game-container .first.row,
.middle-content .live-game-container .second.row,
.middle-content .live-game-container .third.row {
  display: -webkit-box;
  margin: 0;
}

.live-game-container {
  background: $igc-grey;
  color: #fff;
  .first.row {
    text-transform: uppercase;
  }
  .row {
    border-bottom: $igc-border;
    margin: 0;
  }
}

.live-game-container .first.row {
  h4 {
    background: $igc-orange;
    font-size: 15px;
    padding: 12px 19px;
    margin: 0 26px 0 0;
    font-style: italic;
    font-weight: 900;
  }
  h4:after {
    content: '';
    position: absolute;
    left: 131px;
    right: 0px;
    top: 20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 20px 0 0;
    border-color: $igc-orange transparent transparent transparent;
  }
  .live-block {
    margin-top: 4px;
  }
  .live-block p {
    margin: 0;
    font-size: 13px;
  }
  .live-block .indented {
    text-indent: -13px;
    font-size: 11px;
  }
}

.live-game-container .second.row h4,
.live-game-container .third.row h4 {
  margin-left: 15px;
  font-weight: 900;
}

.live-game-container .second.row,
.live-game-container .third.row {
  .live-score {
    display: -webkit-inline-box;
    margin-top: 6px;
    position: absolute;
    right: 70px;
    font-size: 20px;
    font-weight: 900;
  }
  p {
    margin: 0 25px;
  }
  .color-change {
    color: #D27025;
  }
}

.middle-content .table-content {
  display: -webkit-inline-box;
  background: rgba(95, 95, 95, 0.91);
  width: 100%;
  color: #fff;
  height: 33px;
  margin-top: 16px;
  text-transform: uppercase;
  position: relative;
  transition: $igc-tran-05;
  .onebytwo {
    margin-top: 0;
  }
  p {
    margin: 0;
    padding: 6px 0 0 35px;
  }
}

.middle-content .table-content:hover {
  cursor: pointer;
  background: $igc-header-hover;
  transition: $igc-tran-05;
}

.middle-content .onebytwo {
  margin-top: 0;
}

.middle-content .outer-background {
  background-image: url("../images/stadium-background.jpg");
  background-size: cover;
  height: 1022px;
}

.middle-content .inner-background {
  background: rgba(169, 176, 177, 0.75);
  padding: 6px 0;
  text-align: center;
}

.middle-content .onebytwo .table-cell {
  margin-bottom: 0;
}

.middle-content .table-cell {
  transition: $igc-tran-05;
}

.middle-content .table-cell:hover {
  cursor: pointer;
  background: #fff;
  transition: $igc-tran-05;
}

.table-cell.empty:hover {
  cursor: default;
}

.middle-content .table-cell {
  display: inline-table;
  background: rgba(255, 253, 253, 0.8);
  width: 32%;
  text-align: left;
  position: relative;
  margin-bottom: 4px;
  p {
    margin: 0;
    padding: 5px 9px;
    font-weight: 900;
  }
  span {
    position: absolute;
    right: 8px;
    top: 5px;
  }
}

.middle-content .table-cell.empty {
  background: rgba(230, 227, 227, 0.5);
}

.middle-content .two-cells.inner-background {
  padding-bottom: 3px;
}

.middle-content .two-cells.inner-background .table-cell {
  width: 49%;
}

.middle-content button {
  width: 180px;
  height: 40px;
  font-size: 20px;
  @include center;
  position: relative;
  top: 80px;
  text-transform: uppercase;
  color: #e74c3c;
  background: rgba(255, 253, 253, 0.8);
  border: 3px solid #e74c3c;
  transition: $igc-tran-1;
}

.middle-content button:hover {
  border: 3px solid #27ae60;
  color: #27ae60;
  transition: $igc-tran-1;
}
