.right.sidebar {
  padding: 4px;
  background: #e7e7e7;
  .betslip .heading {
    display: -webkit-box;
    position: relative;
    background: $igc-orange;
    color: #fff;
    width: 100%;
    border-bottom: $igc-border;
    h3 {
      margin: 0;
      padding: 4px;
      text-transform: uppercase;
    }
  }
  .betslip img {
    position: absolute;
    z-index: 1;
    top: 6px;
    right: 10px;
    -webkit-filter: contrast(0%) brightness(200%);
    transform: rotate(180deg);
    width: 35px;
  }
  .betslip-count {
    position: absolute;
    left: 120px;
    top: 13px;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 25px;
    p {
      position: absolute;
      top: 2.5px;
      left: 8.5px;
    }
  }
  .table {
    display: table;
    width: 100%;
    border-bottom: $igc-border;
  }
  .table-row {
    display: table-row;
    background: $igc-light-blue;
  }
  .table-cell {
    display: table-cell;
    padding: 8px 0;
    vertical-align: middle;
    color: #333;
  }
  .table-body {
    display: table-row-group;
  }
  .table-cell.main {
    width: 50%;
    font-size: 13px;
  }
  .table-cell.padding {
    padding: 13px 10px;
    position: relative;
  }
  .table-cell.main.padding {
    width: 45%;
    padding: 13px 0 13px 10px;
  }
  .table .bet-headers {
    background: $igc-blue;
  }
  .table-cell.checkbox {
    padding: 4px;
  }
  .table-cell.checkbox input {
    width: 20px;
    height: 20px;
    margin-top: 9px;
    margin-left: 0;
    position: initial;
  }
  .table-cell.read-only input {
    width: 80px;
    height: 30px;
    padding-right: 5px;
    text-align: right;
    @include textbox;
    cursor: default;
  }
  .system-bet-total .table-cell {
    position: relative;
  }
  .system-bet-total .table-cell.read-only span {
    position: absolute;
    right: -5px;
    top: 18px;
  }
  .delete .table-cell.main {
    width: 90%
  }
  .delete .table-cell.alert-close {
    top: 7px;
    right: -11px;
    margin: 0;
  }
  .table-cell.bullet {
    width: 7%;
  }
  .table-cell.bullet p {
    font-size: 22px;
    color: $igc-orange;
    text-shadow: 0px 0px 7px #000;
  }
  .table-cell.alert-close {
    text-align: center;
    padding: 0;
    position: relative;
    height: 20px;
    width: 20px;
    font-size: 13px;
    top: 13px;
    right: 2px;
    display: block;
    color: #666;
  }
  .table-cell.padding.text-right img {
    position: absolute;
    z-index: 2;
    top: 6px;
    right: 10px;
    transform: rotate(270deg);
    width: 35px;
  }
  .table-cell.padding.text-right img:hover {
    cursor: pointer;
  }
}

.heading {
  display: -webkit-box;
  position: relative;
  background: $igc-blue;
  color: #333;
  width: 100%;
  border-bottom: $igc-border;
  padding: 4px 0;
  h4 {
    margin: 0;
    padding: 10px;
    font-size: 15px;
  }
}

.fa-info {
  color: #fff;
  background: $igc-grey;
  border-radius: 20px;
  padding: 4px 8px;
  margin-left: 6px;
}

.fixture {
  position: relative;
  .heading {
    display: -webkit-box;
    position: relative;
    background: $igc-match-heading;
    color: #333;
    width: 100%;
    border-bottom: $igc-border;
    h4 {
      margin: 0;
      padding: 10px;
      font-size: 15px;
      padding-left: 40px;
    }
  }
  .fa-futbol-o {
    position: absolute;
    top: 11px;
    font-size: 21px;
    left: 8px;
    transform: rotate(0deg);
    transition: $igc-tran-1;
  }
  i.fa.fa-futbol-o:hover {
    transform: rotate(540deg);
    transition: $igc-tran-1;
  }
  .live {
    position: absolute;
    top: 11px;
    left: 204px;
    background: $igc-orange;
    color: #fff;
    padding: 2px 6px;
    p {
      margin: 0;
    }
  }
}

input:hover {
  cursor: pointer;
}

.warning {
  position: relative;
  .heading {
    color: #e74c3c;
    background: $igc-light-blue;
    padding: 6px 0;
  }
  h4 {
    padding-left: 40px;
    font-size: 13px;
  }
  .fa-flag-o {
    position: absolute;
    top: 19px;
    font-size: 21px;
    left: 10px;
  }
}

.combine,
.total-bet {
  position: relative;
  .heading {
    background: $igc-light-blue;
  }
}

.confirmation {
  background: $igc-blue;
  padding: 12px 0;
  border-bottom: $igc-border;
  button {
    background: $igc-orange;
    border: none;
    color: #FFF;
    width: 94%;
    @include center;
    font-size: 26px;
    padding: 10px;
    transition: $igc-tran-05
  }
  button:hover{
  	background: #27ae60;
  	transition: $igc-tran-05
  }
  .potential-winning {
    color: #333;
    h3 {
      margin: 20px 0px 5px;
    }
    p {
      margin: 0;
    }
  }
}

.auto-accept {
  position: relative;
  .heading {
    background: $igc-light-blue;
  }
}

.open-bets {
  position: relative;
  margin-top: 30px;
  .heading {
    background: #fff;
  }

  h4{
    width: 90%;
  }
  .betslip-count-orange {
    background: $igc-orange;
    color: #fff;
    position: absolute;
    right: 10px;
    top: 9px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    p {
      position: absolute;
      top: 2px;
      left: 8px;
    }
  }
}

.alert-close,
.alert-close-all {
  background: #fff;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4), inset 0 -1px 2px rgba(255, 255, 255, 0.25);
  color: #333;
  cursor: pointer;
  font-size: 18px;
  height: 22px;
  right: 11px;
  text-align: center;
  top: 13px;
  transition: $igc-tran-05;
  width: 22px;
}

.right.sidebar .table-cell.alert-close:hover{
    background: #e74c3c;
    color: #fff;
    box-shadow: none;
    transition: $igc-tran-05;
}